html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 1.6rem;
    font-family: 'Gabarito', sans-serif;
    background-image: url("../images/Decore.png");
    background-repeat: no-repeat;
    background-position: right;

}

#header {
    color: red;
}

.description {
    width: 20rem;
    height: 10vh;
    border: 2px black dotted;
}